html {
  background: #ffe;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.input {
  background: beige;
  font-size: 16px;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(95, 228, 177);
  border-radius: 10px;
}

.button {
  background: rgb(95, 228, 177);
  color: rgb(218, 10, 10);
  width: 90px;
  height: 34px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
}

.p {
  font-size: 24px;
  text-transform: capitalize;
}
